body{
    margin: 0;
    font-family:"Orbitron", sans-serif;
    background-color: rgb(244, 246, 255);
}

header{
    text-align: center;
    padding: 10px;
    background: rgb(29,29,168);
    background: linear-gradient(180deg, #4040ba 0%, rgba(173,216,230,1) 100%);
    box-shadow: 1px 10px 8px lightblue;

}

#titleHeader{
    font-family:"Roboto", sans-serif;
    font-weight: 800;
}


#selecao{
    font-family:"Roboto", sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

main{
    text-align: center;
    flex-direction: row;
    justify-content: center;
}

.fileira{
    display: flex;
}

.movie-card{
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    border: solid black 3px;
    border-radius: 3px;
    width: calc(80% - 30px);
    box-shadow: 10px 10px 20px 10px lightblue inset;
}

img{
    height: 200px;
}

input[type=submit]{
    background-color: #0251fc;
    color: white;
    text-decoration: solid;
    padding: 10px 15px;
    margin: 8px 0;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

button{
    background-color: #0251fc;
    color: white;
    text-decoration: solid;
    padding: 10px 15px;
    margin: 8px 0;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

footer{
    font-family:"Orbitron", sans-serif;
    display: inline-block;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 10px;
    padding-top: 15px;
    margin-top: 100px;
    background: rgb(173,216,230);
    background: linear-gradient(180deg, rgba(173,216,230,1) 0%, #4040ba 100%);
}
