.modal-container{
    margin-top: 30px;
    margin-left: 25%;
    width:50%;
    position: fixed;
    display: none;
    z-index: 999;
    justify-content: center;
}

.modal-container1{
    margin-top: 30px;
    margin-left: 25%;
    width:50%;
    position: fixed;
    display: none;
    z-index: 999;
    justify-content: center;
}

.modal-container2{
    margin-top: 30px;
    margin-left: 25%;
    width:50%;
    position: fixed;
    display: none;
    z-index: 999;
    justify-content: center;
}

.modal-container3{
    margin-top: 30px;
    margin-left: 25%;
    width:50%;
    position: fixed;
    display: none;
    z-index: 999;
    justify-content: center;
}

.modal-container4{
    margin-top: 30px;
    margin-left: 25%;
    width:50%;
    position: fixed;
    display: none;
    z-index: 999;
    justify-content: center;
}

.modal-container5{
    margin-top: 30px;
    margin-left: 25%;
    width:50%;
    position: fixed;
    display: none;
    z-index: 999;
    justify-content: center;
}

.modal-container6{
    margin-top: 30px;
    margin-left: 25%;
    width:50%;
    position: fixed;
    display: none;
    z-index: 999;
    justify-content: center;
}

.modal{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    border-radius: 10px;
    width: 100%;
}

#img-popUp{
    max-width: 200px;
    margin-left:40%;
}

.text-PopUp{
    padding: 15px;
}

.active{
    display: flex;
}

.active .modal{
    animation: modal .4s;
}

@keyframes modal {
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

span {
    margin: 10px auto;
}

.btns button{
    font-size: medium;
    padding: 10px;
    cursor: pointer;
}