#img-pagamento {
    width: 150px;
    height: 150px;
    margin: 10px;
}

#img-pagamento:hover{
    filter:invert(10%);
    cursor: pointer;
}

.pagamentos{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.form{
    font-size: 25px;
    padding: 5px;
    width: 400px;
   
}

.form-label{
    display: block;
    text-align: left;
}

.form-control{
    display: block;
    text-align: left;
    width: auto;
}


.final-dados{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-left: 13%;
}