body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    padding: 10px;
    background-color: lightblue;
}

#selecao{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

main{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.movie-card{
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    border: solid black 3px;
    border-radius: 3px;
    width: calc(80% - 30px);
}

img{
    height: 200px;
}

input[type=submit]{
    background-color: #0251fc;
    color: white;
    text-decoration: solid;
    padding: 10px 15px;
    margin: 8px 0;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}